html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
#root {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

#overlayer {
    flex: 1;
    overflow-y: auto;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    color: #333;
    line-height: 1.6;
    word-wrap: break-word;
}

#overlayer::-webkit-scrollbar {
    width: 5px;
}

#overlayer::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

#overlayer a {
    color: inherit !important;
    text-decoration: none !important;
    pointer-events: none !important;
    cursor: default !important;
}

/* Status-based styles */
mark.default { background-color: #eb9a9a; border-bottom-color: #c94d4d; } /* Reddish */
/* mark.exclude.default { background-color: transparent !important; border: 1px dashed #9e9e9e !important; color: #757575 !important; } Ghosted */
mark.exclude { background-color: transparent !important; border: 1px dashed #9e9e9e !important; color: #757575 !important; } Ghosted

/* Label-based "Exceptions" (Overwrites the above) */
mark.gender { 
    background-color: #e1f5fe; /* Light Blue */
    border-bottom: 2px solid #b5fe8d; 
    color: #255e2c;
}